body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

margin: 0;
}

header{
background-color: #B7C9EE;
height: 110px;
margin: 0;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
}





.logo{

    max-width: 150px;
    cursor: pointer;




}

.newarrivals{

    width: 90%;
    cursor: pointer;
   
    }

section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1cm;
}

.girl-in-rain{
    width: 70%;
}

.popular-pic{
position: relative;
top: 2cm;
cursor: pointer;

}

.popular{
position: relative;
top: 2cm;
font-weight: bold;

}


.bottom-line{

    background-color: #6D7698 ;
    height: 200px;
    position: relative;
    top: 3cm;
}


.desktop{
    display: none;
}





@media only screen and (min-width: 768px) { 
    
    .burger{
    display: none;
    }


    .desktop{

        display: flex;
        justify-content: space-between;
        flex: 0 0 30%;
    }
    
    
}

















 











